<ion-header>
        <ion-toolbar>
                <ion-title>Bookmarks</ion-title>
                <button ion-button color="light" (click)="goback()">
                        Back
                </button>     
        </ion-toolbar>
 </ion-header> 
 <ion-content>
    <ion-item-group>
  <ion-item>
    <ion-searchbar
    [(ngModel)]="searchItem"
    (ionInput)="showResults($event)"
    (ionCancel)="cancel($event)"> 
  </ion-searchbar>
  <ion-list *ngIf='showing_result'>
      <ion-item *ngFor="let item of items" (touchstart)="addtoFav(item)">
        {{ item.description }}
      </ion-item>
  </ion-list>   
</ion-item>


<ion-item-divider color="light"> Bookmarks </ion-item-divider>
   
<ion-list>
    <ion-item-sliding>
      <ion-item>
        <h3>
       417 S. Craig Street, Pittsburgh, Penn, 15213
      </h3>
      </ion-item>
       <ion-item-options side="right">
          <button ion-button color="danger" >
              <ion-icon name="trash"></ion-icon> Delete
          </button>
          <button ion-button color="primary" >
              <ion-icon name="pin"></ion-icon> Go
          </button>
      </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>
      <ion-item>
          <h3>
        Pittsburgh International Airport
      </h3>
    </ion-item>
        <ion-item-options side="right">
            <button ion-button color="danger" >
                <ion-icon name="trash"></ion-icon> Delete
            </button>
            <button ion-button color="primary" >
                <ion-icon name="pin"></ion-icon> Go
            </button>
        </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding> <ion-item>
            <h3>
        David L. Lawrence Convention Center
      </h3>
    </ion-item>
        <ion-item-options side="right">
            <button ion-button color="danger" >
                <ion-icon name="trash"></ion-icon> Delete
            </button>
            <button ion-button color="primary" >
                <ion-icon name="pin"></ion-icon> Go
            </button>
        </ion-item-options>
      </ion-item-sliding>
        <ion-item-sliding><ion-item>
            <h3>
        East End Food Co-op, Meade Street, Pittsburgh
      </h3>
    </ion-item>
        <ion-item-options side="right">
            <button ion-button color="danger" >
                <ion-icon name="trash"></ion-icon> Delete
            </button>
            <button ion-button color="primary" >
                <ion-icon name="pin"></ion-icon> Go
            </button>
        </ion-item-options>
      </ion-item-sliding>

    <ion-item-sliding *ngFor="let r of search_results">
        <ion-item>
          <h3>
            {{r}}
          </h3>
        </ion-item>

        <ion-item-options side="right">
            <button ion-button color="danger" >
                <ion-icon name="trash"></ion-icon> Delete
            </button>
            <button ion-button color="primary" >
                <ion-icon name="pin"></ion-icon> Go
            </button>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>
  </ion-item-group>
  </ion-content>


  <!-- <ion-list> -->
      
        
          <!-- <ion-item>
          <ion-label floating>Address Line 1</ion-label>
          <ion-input type="text" value=""></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label floating>Address Line 2</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>City</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label floating>State</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
      
            <button ion-button style="color:black; background-color: lightgrey"> Add
              <!-- <button ion-button name="add-circle" icon-only> -->
                <!-- <ion-icon name="add-circle" item-height="5px">Add</ion-icon> -->
            <!-- </button>   -->
      <!-- </ion-list> --> 