
<ion-nav #content [root]="rootPage"></ion-nav>
<ion-menu [content]="content">
    <ion-content>
            <!-- <button ion-button menuClose>Close Menu</button> -->
        
        <h3>Bookmarks</h3>
       
            <ion-list>
                <!-- <button ion-item (click)="routeSelected(route)"> -->
                 <button ion-item >
                    <ion-icon name="home">
                        </ion-icon> Home
                        <p *ngIf="dataProvider.homeSetUp" > {{dataProvider.homeAddr}}</p>
                        <p *ngIf="!dataProvider.homeSetUp" > Set up current home</p>
                        <button ion-button clear item-end (click)="showHomePrompt()"  >Edit</button>
                        <!-- <button ion-button clear item-end>Edit</button> -->
                    </button>  
                <button ion-item >
                        <ion-icon name="briefcase"></ion-icon> Work
                        <p *ngIf="dataProvider.workSetUp" > {{dataProvider.workAddr}}</p>
                        <p *ngIf="!dataProvider.workSetUp" > Set up current work</p>
                        <button ion-button clear item-end (click)="showWorkPrompt()">Edit</button>
                        </button>  
                            <button ion-item (click)="goToFavorite()" menuClose="">
                                <ion-icon name="add-circle" item-height="5px">
                                    <span style="font: 15px sans-serif; color:gray">Bookmarks</span></ion-icon>
                        </button>  
                    </ion-list>

                
   
            <h5>Legal</h5>
                <ion-list>
                    <button ion-item >
                            <ion-icon name="information-circle"></ion-icon>
                    Data Attribution
                    </button>
                    <button ion-item >
                            <ion-icon name="folder-open"></ion-icon>
                        Privacy Policy
                        </button>
                </ion-list> 

                <h5>About Us</h5>
                <ion-list>
                    <button ion-item >
                            <ion-icon name="heart"></ion-icon>
                    Review on App Store
                    </button>
                    <button ion-item >
                            <ion-icon name="bus"></ion-icon>
                        Port Authority 
                        </button>
                        <button ion-item >
                                <ion-icon name="help"></ion-icon>
                            Help
                            </button>
                            <button ion-item >
                                    <ion-icon name="mail"></ion-icon>
                               Send Feedback
                                </button>
                </ion-list> 
           
            <!-- <ion-list *ngFor="let route of routes"> {{routes}}</ion-list>-->
            <h4 id="menu-heading4" style="color:#000000;">
                    Notifications
                  </h4>
                  <form id="menu-form2">
                    <button style="color: azure;" ion-button style="color:azure" icon-left  menuClose="" on-click="goToBusAlarm()">
                      <ion-icon name="alarm"></ion-icon>
                      Bus Alarm
                    </button>
                    <button id="menu-button3" ion-button   icon-left  menuClose="" on-click="goToAlertType()">
                      <ion-icon name="barcode"></ion-icon>
                      Alert Types
                    </button>
                  </form>
  
    </ion-content>
</ion-menu>